@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{

	background: #C9FFBF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right,#C9FFBF ,#FFAFBD);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right,#C9FFBF, #FFAFBD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Roboto', sans-serif;
    margin: 0;
}

nav #nav-container{
	display: flex;
}

#logo{
	width: 130px;
	height: auto;
}

.nav-list{
	display: flex;
	list-style: none;
}

div ul li a{
	padding-right: 130px;
	text-decoration: none;
	color: #000;
	font-weight: 900px;
	font-size: 20px;
	
	
}

#logo{
	padding-right: 100px;
}

ul li a:hover{
	color: orangered;
}

header {
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
    margin: 0;
	
}

#contact{
	color: orangered;
}

h1{
	color:orangered;
	position: relative;
	padding-top: 230px;
	padding-left: 40px;
}

h2{
	padding-left: 40px;
	color: #fff;
}

h3{
	text-align: center;
	font-size: 25px;
}

#image-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.descr{
	text-align: center;
}

#images{
	width:300px;
	height: 300px;
}

div #each-image{
	padding: 5px;
	text-align: center;
}

.cust-review{
	color:red;
	display: flex;
	flex-direction: column;
}

#review1{
	background-color: #f5f6f4f3;
	color: #000;
	font-style: italic;
	font-weight: 900px;
	padding: 0.2rem;
	margin-right: 0.2rem;
}

#like{
	color: red;
	cursor: pointer;
	font-size:30px

}

.like{
	text-align: center;
}

#list-container{
	display: flex;
	flex-wrap: wrap;
	padding-right:20px ;
	text-align: center;
}

#laptop-list li{
list-style: none;
}

form {
	width: 450px;
	margin: 0 auto 50px auto;
  }
  
  textarea {
	display: block;
	width: 100%;
	height: 80px;
	border: 1px solid #000;
	padding: 5px;
	font-size: 14px;
	margin-bottom: 10px;
  }
  
  form button {
	border: none;
	font-size: 16px;
	font-weight: 900;
	text-transform: uppercase;
	background-color:orangered;
	color: #fff;
	padding: 7px 10px;
	cursor: pointer;
	box-shadow: 2px 3px 4px grey;
  }
  
  #review-head{
	text-align: center;
	background-color: gray;
	padding: 20px;
	border-radius: 10px;
  }

#review-list{
	list-style-type: circle;
}

  footer{
	background-color:#f5f6f4f3;
	padding: 20px;
	text-align: center;
  }